html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.loginCard{
  width: 600px;
  min-height: 500px;
  /* margin-left :10%;
  margin-top :3%; */
  margin: auto;
  padding: 40px;
  border-color: rgb(104, 103, 103);
  border-radius: 15px;
   box-shadow: 3px 2px 8px 8px rgb(232, 235, 226);
}


.btn-success{
  margin: auto;
  margin-top: 20px;
  width: 500px;
  border-radius: 10px;
}
.btn-warning {
    margin: auto;
    width: 200px;
    border-radius: 10px;
}
.btn-dark {
    margin: auto;
    width: 200px;
    border-radius: 10px;
}
.btn-outline-info {
    margin: auto;
    margin-top: 20px;
    width: 500px;
    border-radius: 10px;
}

.form-control{
  width: 500px;
  border-radius: 8px;
}

